.login {
  .title {
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-bottom: 30px;
  }
  .login-form {
    min-width: 340px;
    label {
      display: block;
      text-align: left;
      opacity: 0.75;
      font-size: 12px;
      margin-bottom: 4px;
    }
    input {
      padding: 12px 20px;
      width: -webkit-fill-available;
      border-radius: 8px;
      &.entered {
        opacity: 1 !important;
      }
      &:not(:focus) {
        opacity: 0.5;
      }
      &:focus {
        opacity: 1;
      }
    }
    .email, .password {
      margin-top: 10px;
      margin-bottom: 10px;
      .visible {
        cursor: pointer;
        position: absolute;
        padding: 10px 5px;
        margin-left: -28px;
        opacity: 0.75;
      }
    }
    .recover {
      cursor: pointer;
      width: fit-content;
      float: right;
      text-align: right;
      font-size: 12px;
      margin-top: -8px;
      opacity: 0.75;
      &:hover {
        opacity: 1;
      }
    }
    .errmsg {
      color: red;
      font-size: 12px;
      text-align: center;
      margin-bottom: -36px;
      margin-top: 30px;
      animation: shake 0.3s;
    }
    .signin {
      background-color: black;
      color: white;
      margin-top: 36px;
      padding: 12px 42px;
      width: -webkit-fill-available;
    }
  }
  .google-login {
    background-color: white;
    color: black;
    padding: 12px 42px;
    width: -webkit-fill-available;
    svg {
      float: left;
      margin-right: 10px;
      margin-left: 40px;
    }
    div {
      float: left;
    }
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(1px);
    }
    40% {
      transform: translateX(-1px);
    }
    60% {
      transform: translateX(1px);
    }
    80% {
      transform: translateX(-1px);
    }
    100% {
      transform: translateX(0);
    }
  }
}