.section-title {
  display: inline-block;
  margin: 12px 8px;
  .main {
    font-size: 16px;
    font-weight: 600;
    .key {
      margin-right: 4px;
      color: var(--main-color);
      &::before, &::after {
        content: '"';
      }
    }
  }
  .sub {
    font-size: 13px;
    font-weight: 300;
    color: gray;
    margin-bottom: -4px;
  }
}