$app-sp-width: 767px;

.cardbox {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -20px;
  margin-left: -20px;
  &.contents {
    background-color: unset;
  }
  .style-card {
    z-index: 0;
    position: relative;
    width: calc(20% - 20px);
    border-radius: 4px;
    background-image: none;
    overflow: hidden;
    box-shadow: unset;
    margin-top: 20px;
    margin-left: 20px;
    &.skeleton {
      pointer-events: none;
    }
    &:hover {
      cursor: pointer;
    }
    .like {
      display: flex;
      position: absolute;
      z-index: 1;
      top: 2px;
      right: 2px;
      svg {
        font-size: 22px;
        transition: all 0.25s, transform 0.25s;
        transform: rotate(0deg);
        color: white;
      }
      &.liked {
        svg {
          animation: sizeUpAndDown 0.3s;
          color: var(--like-style-color);
        }
      }
    }
    .media {
      padding-top: 125%;
      position: relative;
      background-color: var(--bg-color);
      &::after {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: linear-gradient(to top right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.15) 100%);
      }
      img {
        top: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        transform: scale(1.025);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
          transform: scale(1.0);
        }
      }
    }
    .content {
      display: flex;
      align-items: center;
      padding: 10px 0px 20px 0px;
      background: white;
      position: relative;
      .profile {
        width: 38px;
        height: 38px;
        border-radius: 50%;
      }
      .sub-area {
        display: flex;
        font-family: 'Noto Sans JP', sans-serif;
        width: 100%;
        margin: 0 6px;
        font-size: 14px;
        flex-direction: column;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .name {
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .additional {
          font-size: 12px;
          color: var(--bg-active-color);
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

/* sp */
@media only screen and (max-width: $app-sp-width) {
  .cardbox {
    margin-top: -8px;
    margin-left: -8px;
    padding: 0;
    &.contents {
      padding: 0;
    }
    .style-card {
      width: calc(33.3% - 8px);
      margin-top: 8px;
      margin-left: 8px;
      .like {
        svg {
          font-size: 19px;
        }
      }
      .sub-area {
        flex-wrap: wrap;
      }
    }
  }
}