.popup {
  z-index: 9999;
  display: flex;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin-top: calc((var(--header-height) - var(--footer-height)));
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  padding: 12px 18px;
  border-radius: 4px;
  min-width: 180px;
  transition: top 0.4s cubic-bezier(0, 0, 0.2, 1), margin-top 0.4s cubic-bezier(0, 0, 0.2, 1);
  &:hover {
    cursor: pointer;
  }
  &.show {
    top: 0;
    box-shadow: 0 0px 8px 1px var(--shadow-color);
  }
  &.hide {
    top: calc((var(--header-height) + var(--footer-height)) * -1);
    margin-top: unset;
    box-shadow: unset;
    pointer-events: none;
  }
  &.none {
    opacity: 0;
    pointer-events: none;
  }
}
.popup-center {
  z-index: 9999;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  text-align: center;
  padding: 24px 30px;
  border-radius: 4px;
  width: 340px;
  &.show {
    top: 38%;
    opacity: 1;
    box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
    transition: top 0.3s ease-out, opacity 0.3s ease-out, box-shadow 0.6s ease-out;
  }
  &.hide {
    top: 37%;
    opacity: 0;
    box-shadow: unset;
    pointer-events: none;
    transition: top 0.15s ease-out, opacity 0.15s ease-out;
  }
  &.none {
    opacity: 0;
    pointer-events: none;
  }
  .popup-title {
    font-weight: bold;
    font-size: 28px;
    margin-top: 16px;
  }
  .popup-contents {
    white-space: pre-line;
    margin-top: 8px;
    margin-bottom: 32px;
  }
  .popup-btn {
    border: 3px solid white;
    background-color: black;
    color: white;
    padding: 8px 30px;
    margin-bottom: 8px;
  }
  .icon {
    color: var(--success-color);
    &.error {
      color: var(--warring-color);
    }
  }
}

/* sp */
@media only screen and (max-width: 767px) {
  .popup {
    padding: 8px 12px;
  }
  .popup-center {
    padding: 18px 20px;
  }
}