.contact {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  .title {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    margin-bottom: 24px;
    width: 80%;
  }
  .sub-title {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: -8px;
    width: 80%;
  }
  .contact-form {
    width: 80%;
    label {
      display: block;
      text-align: left;
      opacity: 0.75;
      font-size: 14px;
      margin-bottom: -14px;
    }
    .select-box {
      display: flex;
      align-items: center;
      .icon {
        margin-left: -30px;
        margin-top: 8px;
        pointer-events: none;
      }
    }
    .email, .category, .content {
      input, select, textarea {
        width: -webkit-fill-available;
        margin: 20px 0px 10px 0px;
        padding: 12px;
        border-radius: 4px;
        font-size: 12px;
      }
      select {
        appearance: none;
        -webkit-appearance: none;
      }
    }
    .content {
      textarea {
        resize: vertical;
        height: 250px;
        max-height: 380px;
      }
    }
    .terms-check {
      display: flex;
      justify-content: center;
      margin-left: -9px;
      font-size: 14px;
      .icon {
        svg {
          font-size: 18px;
        }
      }
      .policy {
        cursor: pointer;
        color: var(--main-color);
        line-height: 42px;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .submit-btn {
      margin-top: 10px;
      padding: 6px 40px;
    }
  }
}

/* sp */
@media only screen and (max-width: 767px) {
  .contact {
    .title {
      width: 92%;
    }
    .sub-title {
      width: 92%;
    }
    .contact-form {
      width: 92%;
    }
  }
}