$header-height: 48px;
$app-max-width: 1280px;
$app-min-width: 280px;
$app-sp-width: 767px;
$main-margin: 8px;
$search-nav-width: 188px;
$search-nav-sp-width: 20px;
$nav-width: 180px;
$section-width: $app-max-width - $search-nav-sp-width;

.home {
  .contents {
    margin: 8px;
    min-height: 800px;
    box-shadow: 0 0px 4px 1px var(--shadow-color);
    &.main {
      background-color: unset;
      box-shadow: none;
      min-height: 600px;
      max-height: 80vh;
      display: grid;
      align-items: center;
      grid-template-columns: 50% 50%;
      h1 {
        width: max-content;
        font-size: 46px;
        font-weight: 900;
        line-height: 56px;
        background-color: var(--opp-main-color);
        background-image: linear-gradient(0deg, var(--opp-main-color) 0%, var(--main-color) 100%);
        background-repeat: repeat;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        span {
          color: var(--main-color);
        }
      }
      h5 {
        font-size: 20px;
        font-weight: 500;
        margin-left: 6px;
      }
      .sign-btn {
        font-size: 15px;
        font-weight: normal;
        margin-top: 60px;
        padding: 10px 26px;
        color: white;
        background-color: var(--main-color);
        border: none;
      }
      .contact-btn {
        font-size: 15px;
        font-weight: normal;
        margin-top: 60px;
        margin-left: 10px;
        padding: 10px 26px;
        color: var(--main-color);
        border: none;
        box-shadow: 0 0 0 1px var(--main-color) inset;
        &:hover {
          background-color: unset;
        }
      }
      .left {
        z-index: 1;
        white-space: pre-wrap;
      }
      .right {
        display: flex;
        justify-content: flex-end;
        z-index: 0;
        .banner-img {
          width: 100%;
        }
      }
    }
  }
}

/* sp */
@media only screen and (max-width: $app-sp-width) {
  .home {
    .contents {
      &.main {
        grid-template-columns: 100%;
        .sign-btn {
          margin-top: 30px;
        }
      }
    }
  }
}