.empty-cardbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin: 0px 8px;
  padding: 40px 10px;
  background-color: var(--bg-color);
  img {
    width: 90px;
  }
  .message {
    margin: 10px 0;
  }
}
.cardbox {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -20px;
  margin-left: -20px;
  &.contents {
    width: 100%;
    background-color: unset;
  }
  &.mini {
    margin-top: -10px;
    margin-left: -10px;
    .product-card {
      width: calc(20% - 10px);
      margin-top: 10px;
      margin-left: 10px;
      .media {
        padding: 50px;
        img {
          border-radius: 4px;
        }
      }
      .content {
        width: 100%;
        padding: 0px;
        .name {
          line-height: 1.5;
          font-size: 12px;
          margin-top: 4px;
        }
        .sub-area {
          line-height: 1;
          .price {
            font-size: 13px;
          }
        }
      }
    }
  }
  .product-card {
    z-index: 0;
    position: relative;
    width: calc(20% - 20px);
    border-radius: 4px;
    background-image: none;
    overflow: hidden;
    box-shadow: unset;
    margin-top: 20px;
    margin-left: 20px;
    &.skeleton {
      pointer-events: none;
    }
    &:hover {
      cursor: pointer;
    }
    .like {
      display: flex;
      position: absolute;
      z-index: 1;
      bottom: 0px;
      right: 0px;
      svg {
        font-size: 26px;
        transition: all 0.25s;
        transform: rotate(0deg);
        color: white;
      }
      &.liked {
        svg {
          transform: rotate(72deg);
          color: var(--like-color);
        }
      }
    }
    .sale-label {
      z-index: 1;
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 17px;
      min-width: 22px;
      border-radius: 4px 4px 0px 0px;
      -webkit-box-align: center;
      align-items: center;
      white-space: nowrap;
      display: inline-flex;
      -webkit-box-pack: center;
      justify-content: center;
      padding: 0px 8px;
      color: white;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      background-color: var(--buy-color);
    }
    .media {
      padding-top: 125%;
      position: relative;
      background-color: var(--bg-color);
      &::after {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        border-radius: 4px;
        background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.15) 100%);
      }
      img {
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        border-radius: 4px;
        transform: scale(1.0);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
          transform: scale(1.03);
        }
      }
    }
    .content {
      display: flex;
      align-items: baseline;
      flex-direction: column;
      text-align: left;
      padding: 10px 0px;
      background: white;
      position: relative;
      &.hide {
        display: none;
      }
      .name {
        font-family: 'Noto Sans JP', sans-serif;
        width: 100%;
        margin: 0px;
        line-height: 10px;
        font-size: 11px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .sub-area {
        font-family: 'Noto Sans JP', sans-serif;
        width: 100%;
        display: flex;
        align-items: center;
        .price {
          font-size: 13px;
          font-weight: bold;
          color: black;
        }
        .sale {
          font-size: 13px;
          color: gray;
          opacity: 0.3;
          margin-left: 4px;
          text-decoration: line-through;
        }
      }
    }
  }
}

/* sp */
@media only screen and (max-width: 767px) {
  .cardbox {
    margin-top: -4px;
    margin-left: -4px;
    padding: 0;
    &.contents {
      padding: 0;
    }
    &.mini {
      margin-top: -4px;
      margin-left: -4px;
      .product-card {
        width: calc(33.3% - 8px);
        margin-top: 4px;
        margin-left: 4px;
        margin-right: 4px;
      }
    }
    .product-card {
      width: calc(33.3% - 8px);
      margin-top: 8px;
      margin-left: 8px;
      .sale-label {
        font-size: 11px;
      }
      .sub-area {
        flex-wrap: wrap;
      }
    }
  }
}