$app-sp-width: 767px;

.cardbox {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -20px;
  margin-left: -20px;
  &.contents {
    background-color: unset;
  }
  .product-card {
    z-index: 0;
    position: relative;
    width: calc(20% - 20px);
    height: fit-content;
    border-radius: 4px;
    background-image: none;
    overflow: hidden;
    box-shadow: unset;
    margin-top: 20px;
    margin-left: 20px;
    &:hover {
      cursor: pointer;
    }
    .like {
      display: flex;
      position: absolute;
      z-index: 1;
      top: 2px;
      right: 2px;
      svg {
        font-size: 26px;
        transition: all 0.25s, transform 0.25s;
        transform: rotate(0deg);
        color: white;
      }
      &.liked {
        svg {
          transform: rotate(72deg);
          color: var(--like-color);
        }
      }
    }
    .sale-label {
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 21px;
      min-width: 22px;
      border-radius: 4px 4px 0px 0px;
      -webkit-box-align: center;
      align-items: center;
      white-space: nowrap;
      display: inline-flex;
      -webkit-box-pack: center;
      justify-content: center;
      padding: 0px 10px;
      color: white;
      font-size: 13px;
      font-weight: bold;
      z-index: 1;
      text-transform: uppercase;
      background-color: var(--buy-color);
    }
    .media {
      padding-top: 125%;
      position: relative;
      background-color: white;
      &::after {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: linear-gradient(to top right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.15) 100%);
      }
      img {
        top: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        transform: scale(1.025);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
          transform: scale(1.0);
        }
      }
    }
    .content {
      display: flex;
      align-items: baseline;
      flex-direction: column;
      padding: 10px 6px 20px 6px;
      background: white;
      position: relative;
      .name {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: bold;
        width: 100%;
        margin: 0px;
        line-height: 20px;
        font-size: 14px;
        margin-left: -6px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .sub-area {
        font-family: 'Noto Sans JP', sans-serif;
        margin-top: 8px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .price {
          font-size: 15px;
          font-weight: bold;
          color: black;
        }
        .sale {
          font-size: 15px;
          font-weight: bold;
          color: gray;
          opacity: 0.3;
          margin-left: 4px;
          text-decoration: line-through;
        }
      }
    }
  }
}

/* sp */
@media only screen and (max-width: $app-sp-width) {
  .cardbox {
    margin-top: -8px;
    margin-left: -8px;
    padding: 0;
    &.contents {
      padding: 0;
    }
    .product-card {
      width: calc(33.3% - 8px);
      margin-top: 8px;
      margin-left: 8px;
      .like {
        top: 2px;
        right: 2px;
        svg {
          font-size: 22px;
        }
      }
      .sale-label {
        font-size: 11px;
      }
      .sub-area {
        flex-wrap: wrap;
      }
    }
  }
}