.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop {
  display: none !important;
  pointer-events: none !important;
}
.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root {
  z-index: 9999 !important;
}
.modal {
  .MuiPaper-root {
    .title {
      font-family: 'Noto Sans JP', sans-serif;
      padding: 12px;
      min-width: 320px;
      font-size: 15px;
      font-weight: bold;
    }
    .contents {
      padding: 12px 24px;
      .chip {
        margin-right: 4px;
        margin-bottom: 4px;
        padding: 0 4px;
      }
    }
    .bottom {
      padding: 12px;
    }
    .save {
      padding: 4px 28px;
    }
  }
}