.backdrop {
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc((var(--vh, 1vh) * 100));
  background-color: var(--backdrop-color);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}