$base-line-height: 56px;
$pulse-duration: 750ms;

.loading-pulse {
  z-index: 9999;
  position: fixed;
  width: ($base-line-height / 5);
  height: $base-line-height;
  background: var(--load-off-color);
  animation: pulse $pulse-duration infinite;
  animation-delay: ($pulse-duration / 3);
  top: calc(50% - 46px);
  left: 50%;
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    height: ($base-line-height / 1.5);
    width: ($base-line-height / 5);
    background: var(--load-off-color);
    top: 50%;
    transform: translateY(-50%);
    animation: pulse $pulse-duration infinite;
  }
  &:before {
    left: -($base-line-height / 2.5);
  }
  &:after {
    left: ($base-line-height / 2.5);
    animation-delay: ($pulse-duration / 1.5);
  }
}