$app-sp-width: 767px;

.products {
  background-color: var(--contents-color);
  padding: 8px;
  border-radius: 8px;
  .menu-title {
    display: inline-block;
    margin: 28px 8px;
    .main {
      font-size: 20px;
      font-weight: 900;
    }
    .sub {
      font-size: 15px;
      color: gray;
      margin-bottom: -8px;
    }
  }
  .filter {
    height: 0px;
    overflow: hidden;
    transition: height 0.25s;
    &.open {
      padding: 30px 10px;
      position: sticky;
      height: fit-content;
      top: 47px;
      z-index: 1;
      background-color: white;
    }
    label {
      display: block;
      font-size: 13px;
      font-weight: bold;
    }
    .sort {
      width: fit-content;
      &:hover {
        cursor: pointer;
      }
      .sort-item {
        display: flex;
        align-items: center;
        margin: 10px;
        padding: 6px 12px;
        border: 1px solid #e1e3e4;
        width: 120px;
        border-radius: 6px;
        .value {
          font-size: 12px;
          font-weight: 500;
          width: 78px;
        }
        .icon {
          margin-left: auto;
        }
      }
    }
    .brand {
      .quick-map {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 10px;
        img {
          width: 12%;
          border: 1px solid #e1e3e4;
          border-radius: 3px;
          padding: 6px 0;
          &:hover {
            cursor: pointer;
            box-shadow: 0 0px 4px 1px var(--shadow-color);
          }
        }
      }
    }
    .categorys {
      .quick-map {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        .category {
          padding: 10px 20px;
          border: 1px solid #e1e3e4;
          width: fit-content;
          border-radius: 6px;
          transition: all 0.25s;
          &:hover {
            cursor: pointer;
            box-shadow: 0 0px 4px 1px var(--shadow-color);
          }
        }
      }
    }
    .status {
      .quick-map {
        display: flex;
        padding: 10px;
        .level {
          padding: 10px 22px;
          border-radius: 6px;
          margin-right: 10px;
          border: 1px solid #e1e3e4;
          &:hover {
            cursor: pointer;
            box-shadow: 0 0px 4px 1px var(--shadow-color);
          }
        }
      }
    }
    .price {
      .price-range {
        padding: 10px;
        input {
          padding: 6px 12px;
          border: 1px solid #e1e3e4;
          border-radius: 6px;
          width: 120px;
        }
      }
    }
  }
  .filter-area {
    position: sticky;
    top: 48px;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    margin-top: -8px;
    margin-bottom: -24px;
    div {
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 5px 12px;
      transition: background-color 0.25s;
      background-color: white;
      border: 1px solid black;
      margin-left: 6px;
      .title {
        font-weight: bold;
        margin-right: 4px;
        font-size: 13px;
      }
      .value {
        font-size: 12px;
        font-weight: 500;
        width: 78px;
        text-align: center;
      }
      .icon {
        margin-left: 4px;
        font-size: 18px;
      }
      &:hover {
        cursor: pointer;
        color: white;
        background-color: black;
      }
    }
  }
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  margin-left: 10px;
  width: 163px;
  box-shadow: 0 0px 4px 1px var(--shadow-color) !important;
  .css-6hp17o-MuiList-root-MuiMenu-list {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sort-menu {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    min-height: auto;
  }
}

.product-detail {
  background-color: var(--contents-color);
  padding: 8px;
  border-radius: 8px;
  .fab {
    position: fixed;
    bottom: 10px;
    right: 10px;
    pointer-events: none;
    opacity: 0;
    background-color: black;
    color: white;
    transition: all 0.25s;
    &:hover {
      background-color: black;
      color: white;
    }
    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
  .snap-toggle {
    z-index: 3;
    position: sticky;
    width: fit-content;
    top: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -22px;
    opacity: 0.25;
    color: var(--bg-active-color);
    transition: all 0.25s;
    &.active {
      top: 88px;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.75;
    }
    .icon {
      transform: rotate(270deg);
      &.active {
        transform: rotate(90deg);
      }
    }
  }
  .snap-area {
    z-index: 3;
    display: flex;
    position: sticky;
    top: 46px;
    width: 100%;
    padding: 10px 8px;
    margin-left: -8px;
    box-shadow: 0px 3px 4px 0 var(--shadow-color);
    background-color: white;
    transition: all 0.25s;
    &:not(.active) {
      transform: translate(0, -120%);
      margin-bottom: -74px;
    }
    .snap {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      .select-history {
        display: flex;
        position: absolute;
        flex-direction: column;
        padding: 0px 6px 12px 6px;
        background-color: white;
        box-shadow: 0px 3px 4px 0 var(--shadow-color);
        border-radius: 0 0 6px 6px;
        margin-top: -6px;
        margin-left: -6px;
        transform: translateY(-6px);
        opacity: 0;
        margin-top: 50px;
        pointer-events: none;
        transition: all 0.25s;
        &.active {
          pointer-events: auto;
          transform: translateY(0px);
          opacity: 1;
        }
        .thumbnail-list {
          z-index: 1;
          .thumbnail-data {
            display: flex;
            align-items: center;
            font-size: 12px;
            transition: all 0.25s;
            &:not(:first-child) {
              margin-top: 4px;
            }
            &:hover {
              cursor: pointer;
              opacity: 0.9;
            }
            .date {
              color: var(--bg-active-dark-color);
            }
            .user {
              margin: 0 4px;
            }
          }
        }
      }
      .thumbnail {
        z-index: 2;
        width: 42px;
        border-radius: 8px;
        margin-right: 10px;
        transition: all 0.25s;
        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }
      .top {
        width: 100%;
        .comp, .like, .share {
          padding: 0px;
          width: 38px;
          height: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          transition: all 0.25s;
          .icon {
            opacity: 0.85;
          }
          &:hover {
            border-color: black;
            color: black;
          }
        }
        .comp {
          margin-right: 96px;
          margin-bottom: -38px;
          .icon {
            font-size: 20px;
          }
          &.buy.active {
            background-color: var(--buy-bg-color);
            .icon {
              color: var(--buy-color);
            }
          }
          &.offer.active {
            background-color: var(--offer-bg-color);
            .icon {
              color: var(--offer-color);
            }
          }
        }
        .like {
          margin-right: 48px;
          margin-bottom: -38px;
          .icon {
            font-size: 24px;
          }
          svg {
            color: lightgray;
            stroke: black;
            transform: rotate(0deg);
            transition: all 0.25s;
          }
          &.liked {
            background-color: var(--like-bg-color);
            svg {
              transform: rotate(72deg);
              color: var(--like-color);
            }
          }
        }
        .share {
          margin-bottom: -38px;
          .icon {
            font-size: 20px;
          }
          &:hover {
            background-color: var(--menu-active-bg-color);
            svg {
              color: var(--menu-active-color);
            }
          }
        }
        .sale-label {
          font-weight: 700;
          font-size: 14px;
          margin-bottom: -4px;
          color: var(--buy-color);
        }
        .name {
          font-weight: 900;
          font-size: 21px;
          line-height: 21px;
          width: calc(100% - 146px);
          &.not-sale {
            margin-top: 8px;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
  .product {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    p {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: 14px;
      .icon {
        font-size: 18px;
        margin-right: 4px;
        &.buy {
          color: var(--buy-color);
        }
        &.offer {
          color: var(--offer-color);
        }
      }
    }
    .img-area {
      width: calc(50% - 40px);
      height: fit-content;
      flex: 1;
      margin-top: 7px;
      padding-right: 40px;
      transition: width 0.25s;
      &.comp {
        display: flex;
        flex: 1;
        padding-right: 0px;
        padding-left: 40px;
        flex-direction: column;
        border-left: 1px solid var(--bg-active-color);
        &.empty {
          align-items: center;
          color: var(--bg-active-color);
          padding: 40px;
          margin-left: 40px;
          margin-top: auto;
          margin-bottom: auto;
          border: 1px solid var(--bg-active-color);
          border-radius: 8px;
          transition: opacity 0.25s;
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
      .features {
        z-index: 1;
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-right: 7px;
        margin-bottom: -36px;
        .data-info {
          display: flex;
          align-items: center;
          padding: 0 15px;
          color: white;
          max-width: 86%;
          border-radius: 0px 8px 8px 0px;
          white-space: pre;
          overflow: hidden;
          font-size: 12px;
          transition: all 0.35s;
          span {
            opacity: 1;
            margin-right: 8px;
            transition: all 0.25s;
            &.status {
              font-weight: 900;
              font-size: 18px;
            }
          }
          &::after {
            content: "";
            height: 100%;
            left: 0px;
            position: absolute;
            width: 4px;
          }
          &.buy {
            background-image: linear-gradient(90deg, var(--bg-active-dark-color) 20%, var(--bg-active-color) 100%);
            span {
              opacity: 1;
              &.status {
                color: var(--buy-color);
              }
            }
            &::after {
              background: var(--buy-color);
            }
          }
          &.offer {
            background-image: linear-gradient(90deg, var(--bg-active-dark-color) 20%, var(--bg-active-color) 100%);
            span {
              opacity: 1;
              &.status {
                color: var(--offer-color);
              }
            }
            &::after {
              background: var(--offer-color);
            }
          }
          &:not(.active) {
            width: 0;
            padding: 0;
            span {
              opacity: 0;
            }
            &::after {
              width: 0;
            }
          }
          .icon {
            font-size: 18px;
          }
        }
        .buttons {
          display: flex;
          .thumb-toggle {
            display: inherit;
            border: 1px solid white;
            width: fit-content;
            border-radius: 8px;
            padding: 2px;
            margin-left: 7px;
            opacity: 0.5;
            transition: transform 0.25s, opacity 0.25s;
            &:hover {
              opacity: 1;
              background-color: var(--bg-active-color);
              cursor: pointer;
            }
            .icon {
              color: white;
            }
            &:not(.visible) {
              opacity: 0;
              pointer-events: none;
            }
          }
        }
      }
      img {
        border-radius: 8px;
      }
      .carousel-root {
        .thumbs {
          padding-left: 0;
          :hover {
            cursor: pointer;
          }
        }
        .control-arrow {
          display: flex;
          align-items: center;
          height: 20px;
          margin: auto;
          &:hover {
            background: none;
          }
        }
        .control-dots {
          display: none;
        }
        &.thumb-visible {
          .thumbs-wrapper {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0px) ;
          }
        }
        .thumbs-wrapper {
          margin: 0 12px;
          margin-top: -75px;
          transition: all 0.25s ease-out;
          opacity: 0;
          pointer-events: none;
          transform: translateY(12px) ;
          .control-arrow {
            padding: 5px 0;
            margin-top: -12px;
          }
          .control-prev.control-arrow:before {
            border-right: 12px solid white;
            margin-left: 0;
          }
          .control-next.control-arrow:before {
            border-left: 12px solid white;
            margin-right: 0;
          }
        }
        .thumb {
          border-radius: 8px;
          padding: 0;
          border: unset;
          transition: unset;
          &:hover {
            border: 1px solid var(--bg-active-color);
          }
          &.selected {
            border: 1px solid white;
          }
        }
      }
    }
    .info-area {
      display: flex;
      flex: 1;
      padding-left: 40px;
      flex-direction: column;
      border-left: 1px solid var(--bg-active-color);
      .condition {
        ul {
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;
          margin-bottom: 20px;
          li {
            border: 1px solid var(--bg-active-color);
            border-radius: 8px;
            color: lightgray;
            font-size: 18px;
            text-align: center;
            padding: 6px;
            width: calc((100% - 20px) / 5);
            &.buy.active {
              font-weight: 900;
              background-color: var(--buy-color);
              color: white;
            }
            &.offer.active {
              font-weight: 900;
              background-color: var(--offer-color);
              color: white;
            }
            &:not(:first-child) {
              margin-left: 8px;
            }
          }
        }
      }
      .info-buy {
        margin-bottom: 20px;
        display: flex;
        .buy {
          position: relative;
          display: inline-flex;
          flex: 1;
          height: fit-content;
          align-items: center;
          font-size: 18px;
          padding: 10px 15px;
          color: white;
          transition: background-color 0.25s;
          &.now {
            background-color: var(--buy-color)
          }
          &.offer {
            background-color: var(--offer-color);
          }
          .title {
            width: fit-content;
            width: 80px;
            padding-right: 15px;
            border-right: 1px solid white;
          }
          .price {
            padding-left: 15px;
            &.offer {
              flex: 1;
            }
            input {
              width: 100%;
              font-size: 18px;
              font-weight: bold;
              color: white;
              padding: 0;
              background-color: unset;
              border: none;
              outline: none;
              &::placeholder {
                color: white;
              }
            }
          }
          .sale {
            opacity: 0.3;
            margin-left: 4px;
            font-weight: 500;
            text-decoration: line-through;
          }
        }
        .status-toggle {
          display: flex;
          align-items: center;
          padding: 0px 10px;
          margin-left: 8px;
          border-color: var(--buy-color);
          &.turn {
            border-color: var(--offer-color);
          }
          .icon {
            font-size: 26px;
            color: var(--buy-color);
            transition: all 0.25s;
            transform: rotateY(180deg);
            &.turn {
              color: var(--offer-color);
              transform: rotateY(0deg);
            }
          }
        }
      }
      .size-button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        margin-bottom: -1px;
        border-radius: 6px 6px 0 0;
        border-color: var(--bg-active-color);
        color: var(--bg-active-color);
        background-color: var(--bg-color);
        pointer-events: none;
        transition: all 0.25s;
        .icon {
          font-size: 18px;
          margin-right: 4px;
        }
        &.active {
          pointer-events: auto;
          background-color: unset;
          color: black;
          &:hover {
            background-color: var(--bg-color);
          }
        }
      }
      .contact-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-bottom: -1px;
        border-radius: 6px;
        border-color: var(--bg-active-color);
        .icon {
          font-size: 18px;
          margin-right: 4px;
        } 
      }
      .info-detail {
        display: flex;
        height: 60px;
        border: 1px solid var(--bg-active-color);
        margin-bottom: 20px;
        padding: 6px 0px;
        border-radius: 0 0 6px 6px;
        div {
          display: flex;
          flex: 1;
          justify-content: center;
          flex-direction: column;
          border-right: 1px solid var(--bg-active-color);
          min-width: 60px;
          label {
            display: block;
            font-size: 11px;
            line-height: 11px;
          }
          &:last-child {
            border: none;
          }
        }
        .size {
          text-align: center;
          span {
            font-weight: 900;
            font-size: 18px;
          }
        }
      }
    }
    .definition {
      margin-bottom: 20px;
      padding: 10px 20px;
      border-radius: 8px;
      font-size: 12px;
      border: 1px solid var(--bg-active-color);
      dl {
        display: flex;
        align-items: center;
        dt {
          width: 75px;
        }
        dd {
          color: black;
          .link {
            &:not(:first-child) {
              &:before {
                content: '/';
                margin: 0 4px;
              }
            }
          }
        }
      }
      .colors {
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        span {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          margin-right: 4px;
          box-shadow: rgba(0, 0, 0, 0.24) -1px 1px 2px inset;
        }
      }
    }
    .offer-data {
      margin-bottom: 20px;
    }
  }
  .recommends {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    padding: 0 40px;
    border-top: 1px solid var(--bg-active-color);
    p {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: bold;
      font-size: 14px;
      margin: 20px 0;
      .icon {
        font-size: 18px;
        margin-right: 4px;
      }
    }
    .more-button {
      max-width: 200px;
      font-size: 12px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/* sp */
@media only screen and (max-width: $app-sp-width) {
  .products {
    .filter {
      .brand {
        .quick-map {
          img {
            width: 32%;
          }
        }
      }
    }
  }
  .product-detail {
    .snap-area {
      .snap {
        width: 100%;
        .top {
          .comp, .like, .share {
            width: 32px;
            height: 32px;
          }
          .comp {
            margin-right: 80px;
            margin-bottom: -32px;
            .icon {
              font-size: 20px;
            }
          }
          .like {
            margin-right: 40px;
            margin-bottom: -32px;
            .icon {
              font-size: 20px;
            }
          }
          .share {
            margin-bottom: -32px;
            .icon {
              font-size: 16px;
            }
          }
          .sale-label {
            font-size: 12px;
            margin-bottom: -4px;
          }
          .name {
            font-size: 17px;
            line-height: 17px;
          }
        }
      }
    }
    .product {
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      .img-area {
        padding: 0px;
        width: 100%;
        &.comp {
          padding: 0px;
          border-left: unset;
          width: 92%;
          margin-left: auto;
          margin-right: auto;
          &.empty {
            padding: 22px 0;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
      .info-area {
        padding: 10px 0px;
        border-left: none;
      }
    }
    .recommends {
      padding: 0;
    }
  }
}