$app-sp-width: 767px;

.products {
  background-color: var(--contents-color);
  padding: 8px;
  border-radius: 8px;
  .menu-title {
    display: inline-block;
    margin: 28px 8px;
    .main {
      font-size: 20px;
      font-weight: 900;
    }
    .sub {
      font-size: 15px;
      color: gray;
      margin-bottom: -8px;
    }
  }
  .filter {
    height: 0px;
    overflow: hidden;
    transition: height 0.25s;
    &.open {
      padding: 30px 10px;
      position: sticky;
      height: fit-content;
      top: 47px;
      z-index: 1;
      background-color: white;
    }
    label {
      display: block;
      font-size: 13px;
      font-weight: bold;
    }
    .sort {
      width: fit-content;
      &:hover {
        cursor: pointer;
      }
      .sort-item {
        display: flex;
        align-items: center;
        margin: 10px;
        padding: 6px 12px;
        border: 1px solid #e1e3e4;
        width: 120px;
        border-radius: 6px;
        .value {
          font-size: 12px;
          font-weight: 500;
          width: 78px;
        }
        .icon {
          margin-left: auto;
        }
      }
    }
    .brand {
      .quick-map {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 10px;
        img {
          width: 12%;
          border: 1px solid #e1e3e4;
          border-radius: 3px;
          padding: 6px 0;
          &:hover {
            cursor: pointer;
            box-shadow: 0 0px 4px 1px var(--shadow-color);
          }
        }
      }
    }
    .categorys {
      .quick-map {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        .category {
          padding: 10px;
          border: 1px solid #e1e3e4;
          width: fit-content;
          border-radius: 6px;
          transition: all 0.25s;
          &:hover {
            cursor: pointer;
            box-shadow: 0 0px 4px 1px var(--shadow-color);
          }
        }
      }
    }
    .price {
      .price-range {
        padding: 10px;
        input {
          padding: 6px 12px;
          border: 1px solid #e1e3e4;
          border-radius: 6px;
          width: 120px;
        }
      }
    }
  }
  .filter-area {
    position: sticky;
    top: 48px;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    margin-top: -8px;
    margin-bottom: -24px;
    div {
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 5px 12px;
      transition: background-color 0.25s;
      background-color: white;
      border: 1px solid black;
      margin-left: 6px;
      .title {
        font-weight: bold;
        margin-right: 4px;
        font-size: 13px;
      }
      .value {
        font-size: 12px;
        font-weight: 500;
        width: 78px;
        text-align: center;
      }
      .icon {
        margin-left: 4px;
        font-size: 18px;
      }
      &:hover {
        cursor: pointer;
        color: white;
        background-color: black;
      }
    }
  }
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  margin-left: 10px;
  width: 163px;
  box-shadow: 0 0px 4px 1px var(--shadow-color) !important;
  .css-6hp17o-MuiList-root-MuiMenu-list {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sort-menu {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    min-height: auto;
  }
}

.product-detail {
  background-color: var(--contents-color);
  padding: 8px;
  border-radius: 8px;
  .main-area {
    position: sticky;
    z-index: 3;
    top: 46px;
    display: flex;
    padding: 10px 15px;
    margin-left: -15px;
    box-shadow: 0px 3px 4px 0 var(--shadow-color);
    background-color: white;
    width: 100%;
    .snap {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      .thumbnail {
        width: 46px;
        border-radius: 8px;
        transition: all 0.25s;
        margin-right: 10px;
        &:hover {
          opacity: 0.9;
          cursor: pointer;
        }
      }
      .top {
        width: 100%;
        .comp, .like, .share {
          padding: 0px;
          width: 38px;
          height: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          transition: all 0.25s;
          .icon {
            opacity: 0.85;
          }
          &:hover {
            border-color: black;
            color: black;
          }
        }
        .comp {
          margin-right: 96px;
          margin-bottom: -38px;
          .icon {
            font-size: 20px;
          }
          &.active {
            background-color: black;
            .icon {
              color: white;
            }
          }
        }
        .like {
          margin-right: 48px;
          margin-bottom: -38px;
          .icon {
            font-size: 24px;
          }
          svg {
            color: lightgray;
            stroke: black;
            stroke-width: 1px;
          }
          &.liked {
            background-color: var(--like-bg-color);
            svg {
              color: var(--like-color);
            }
          }
        }
        .share {
          margin-bottom: -38px;
          .icon {
            font-size: 20px;
          }
        }
        .sale-label {
          font-weight: 700;
          font-size: 14px;
          margin-bottom: -4px;
          color: var(--buy-color);
        }
        .name {
          font-weight: 900;
          font-size: 21px;
          line-height: 21px;
          width: calc(100% - 146px);
          &.not-sale {
            margin-top: 8px;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
  .product {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    p {
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 12px;
      font-size: 16px;
      &::before {
        content: '#';
        margin-right: 4px;
      }
    }
    .img-area {
      width: calc(50% - 60px);
      height: fit-content;
      flex: 1;
      margin-top: 7px;
      padding-right: 40px;
      &.comp {
        display: flex;
        flex: 1;
        padding-right: 0px;
        padding-left: 40px;
        flex-direction: column;
        border-left: 1px solid var(--bg-active-color);
      }
      .thumb-toggle {
        z-index: 1;
        display: flex;
        position: relative;
        border: 1px solid white;
        width: fit-content;
        border-radius: 8px;
        padding: 2px;
        margin-bottom: -36px;
        margin-right: 7px;
        margin-left: auto;
        opacity: 0.3;
        transition: transform 0.25s, opacity 0.25s;
        &:hover {
          opacity: 1;
          background-color: var(--bg-active-color);
          cursor: pointer;
        }
        .icon {
          color: white;
        }
      }
      img {
        border-radius: 8px;
      }
      .carousel-root {
        .thumbs {
          padding-left: 0;
          :hover {
            cursor: pointer;
          }
        }
        .control-arrow {
          display: flex;
          align-items: center;
          height: 20px;
          margin: auto;
          &:hover {
            background: none;
          }
        }
        .control-dots {
          display: none;
        }
        &.thumb-visible {
          .thumbs-wrapper {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0px) ;
          }
        }
        .thumbs-wrapper {
          margin: 0 12px;
          margin-top: -78px;
          transition: all 0.25s ease-out;
          opacity: 0;
          pointer-events: none;
          transform: translateY(12px) ;
          .control-arrow {
            padding: 5px 0;
            margin-top: -12px;
          }
        }
        .thumb {
          border-radius: 8px;
          margin-right: 8px;
          padding: 0;
          border: unset;
          &:hover {
            border: 1px solid var(--bg-active-color);
          }
          &.selected {
            border: 1px solid white;
          }
        }
      }
    }
    .info-area {
      display: flex;
      flex: 1;
      padding-left: 40px;
      flex-direction: column;
      border-left: 1px solid var(--bg-active-color);
      .info-buy {
        margin-bottom: 20px;
        display: flex;
        .buy {
          position: relative;
          display: inline-flex;
          flex: 1;
          height: fit-content;
          align-items: center;
          font-size: 18px;
          padding: 8px 15px;
          color: white;
          transition: background-color 0.25s;
          &.now {
            background-color: var(--buy-color)
          }
          &.offer {
            background-color: var(--offer-color);
          }
          .title {
            width: fit-content;
            width: 80px;
            padding-right: 15px;
            border-right: 1px solid white;
          }
          .price {
            padding-left: 15px;
            &.offer {
              flex: 1;
            }
            input {
              width: 100%;
              font-size: 18px;
              font-weight: bold;
              color: white;
              padding: 0;
              background-color: unset;
              border: none;
              outline: none;
              &::placeholder {
                color: white;
              }
            }
          }
          .sale {
            opacity: 0.3;
            margin-left: 4px;
            font-weight: 500;
            text-decoration: line-through;
          }
        }
        .status-toggle {
          display: flex;
          align-items: center;
          padding: 0px 10px;
          margin-left: 8px;
          border-color: var(--buy-color);
          &.turn {
            border-color: var(--offer-color);
          }
          .icon {
            font-size: 26px;
            color: var(--buy-color);
            transition: all 0.25s;
            transform: rotateY(180deg);
            &.turn {
              color: var(--offer-color);
              transform: rotateY(0deg);
            }
          }
        }
      }
      .info-detail {
        display: flex;
        height: 60px;
        border: 1px solid var(--bg-active-color);
        padding: 6px 0px;
        border-radius: 8px;
        margin-bottom: 20px;
        div {
          display: flex;
          flex: 1;
          justify-content: center;
          flex-direction: column;
          border-right: 1px solid var(--bg-active-color);
          min-width: 60px;
          label {
            display: block;
            font-size: 13px;
            line-height: 13px;
          }
          &:last-child {
            border: none;
          }
        }
        .size {
          text-align: center;
          span {
            font-weight: 900;
            font-size: 18px;
          }
        }
      }
    }
    .definition {
      margin-bottom: 20px;
      padding: 10px 15px;
      border-radius: 8px;
      font-size: 13px;
      background-color: var(--bg-color);
      color: var(--bg-active-color);
      dl {
        display: flex;
        align-items: center;
        dt {
          width: 90px;
        }
        dd {
          color: black;
        }
      }
      .colors {
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        span {
          width: 13px;
          height: 13px;
          border-radius: 50%;
          margin-right: 4px;
          box-shadow: rgba(0, 0, 0, 0.24) -1px 1px 2px inset;
        }
      }
    }
    .offer-data {
      margin-bottom: 20px;
    }
  }
}

/* sp */
@media only screen and (max-width: $app-sp-width) {
  .products {
    .filter {
      .brand {
        .quick-map {
          img {
            width: 32%;
          }
        }
      }
    }
  }
  .product-detail {
    .main-area {
      .snap {
        width: 100%;
        .top {
          .comp, .like, .share {
            width: 32px;
            height: 32px;
          }
          .comp {
            margin-right: 80px;
            margin-bottom: -32px;
            .icon {
              font-size: 20px;
            }
          }
          .like {
            margin-right: 40px;
            margin-bottom: -32px;
            .icon {
              font-size: 20px;
            }
          }
          .share {
            margin-bottom: -32px;
            .icon {
              font-size: 16px;
            }
          }
          .sale-label {
            font-size: 12px;
            margin-bottom: -4px;
          }
          .name {
            font-size: 17px;
            line-height: 17px;
          }
        }
      }
    }
    .product {
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      .img-area {
        padding: 0px;
        width: 100%;
        &.comp {
          padding: 0px;
          border-left: unset;
        }
      }
      .info-area {
        padding: 15px 0px;
        border-left: none;
      }
    }
  }
}