$app-sp-width: 767px;

.products {
  background-color: var(--contents-color);
  padding: 8px;
  border-radius: 8px;
  .menu-title {
    display: inline-block;
    margin: 28px 8px;
    .main {
      font-size: 20px;
      font-weight: 900;
    }
    .sub {
      font-size: 15px;
      color: gray;
      margin-bottom: -8px;
    }
  }
  .filter {
    height: 0px;
    overflow: hidden;
    transition: height 0.25s;
    &.open {
      position: sticky;
      height: fit-content;
      top: 48px;
      z-index: 1;
      background-color: white;
    }
    .categorys {
      display: flex;
      margin: 30px 0px;
      .category {
        padding: 10px;
        margin: 10px;
        border: 1px solid black;
        width: fit-content;
        border-radius: 8px;
        transition: all 0.25s;
        &:hover {
          cursor: pointer;
          border-color: var(--shadow-color);
          box-shadow: 0 0px 4px 1px var(--shadow-color);
        }
      }
    }
  }
  .filter-area {
    position: sticky;
    top: 48px;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    margin-top: -8px;
    margin-bottom: -24px;
    div {
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 5px 12px;
      transition: background-color 0.25s;
      background-color: white;
      border: 1px solid black;
      margin-left: 6px;
      .title {
        font-weight: bold;
        margin-right: 4px;
        font-size: 13px;
      }
      .value {
        font-size: 12px;
        font-weight: 500;
        width: 78px;
        text-align: center;
      }
      .icon {
        margin-left: 4px;
        font-size: 18px;
      }
      &:hover {
        cursor: pointer;
        color: white;
        background-color: black;
      }
    }
  }
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  box-shadow: 0 0px 4px 1px var(--shadow-color) !important;
  .css-6hp17o-MuiList-root-MuiMenu-list {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sort-menu {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    min-height: auto;
  }
}

.product-detail {
  background-color: var(--contents-color);
  padding: 8px;
  border-radius: 8px;
  .product {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
    p {
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 12px;
      font-size: 16px;
      &::before {
        content: '#';
        margin-right: 4px;
      }
    }
    .img-area {
      padding: 40px;
      width: calc(50% - 60px);
      height: fit-content;
      img {
        border-radius: 8px;
      }
      .carousel {
        .thumbs {
          padding-left: 0;
          :hover {
            cursor: pointer;
          }
        }
        .control-arrow {
          display: flex;
          align-items: center;
        }
        .control-dots {
          .dot {
            height: 2px;
            width: 30px;
            border-radius: 8px;
            margin: 0;
            box-shadow: none;
            &:not(.selected) {
              background: var(--bg-active-color);
            }
            &.selected {
              background: black;
            }
          }
        }
        .thumbs-wrapper {
          margin: 0 20px;
          .control-arrow {
            padding: 5px 0;
            margin-top: -15px;
          }
          .control-next.control-arrow:before {
            border-left-color: var(--bg-active-color);
          }
          .control-prev.control-arrow:before {
            border-right-color: var(--bg-active-color);
          }
        }
        .thumb {
          border-radius: 8px;
          &:hover {
            border: 2px solid gray;
          }
          &.selected {
            border: 2px solid gray;
          }
        }
      }
    }
    .info-area {
      display: flex;
      flex: 1;
      padding: 40px;
      flex-direction: column;
      border-left: 1px solid var(--bg-active-color);
      .top {
        .like {
          padding: 0px;
          width: 38px;
          height: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          margin-right: 48px;
          margin-bottom: -38px;
          .icon {
            font-size: 24px;
          }
          &.liked {
            color: var(--like-color);
            background-color: var(--like-bg-color);
          }
          &:hover {
            border-color: black;
          }
        }
        .share {
          padding: 0px;
          width: 38px;
          height: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          margin-bottom: -38px;
          .icon {
            font-size: 20px;
          }
          &:hover {
            border-color: black;
            color: black;
          }
        }
        .sale-label {
          font-weight: 700;
          font-size: 14px;
          margin-bottom: -4px;
          color: var(--buy-color);
        }
        .name {
          font-weight: 900;
          font-size: 20px;
          line-height: 20px;
          width: calc(100% - 100px);
          &.not-sale {
            margin-top: 8px;
            margin-bottom: 8px;
          }
        }
      }
      .info-detail {
        display: flex;
        height: 60px;
        border: 1px solid var(--bg-active-color);
        padding: 6px 0px;
        border-radius: 8px;
        margin-bottom: 20px;
        div {
          display: flex;
          flex: 1;
          justify-content: center;
          flex-direction: column;
          border-right: 1px solid var(--bg-active-color);
          min-width: 60px;
          label {
            display: block;
            font-size: 13px;
            line-height: 13px;
          }
          &:last-child {
            border: none;
          }
        }
        .size {
          text-align: center;
          span {
            font-weight: 900;
            font-size: 18px;
          }
        }
      }
      .info-buy {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
        .buy {
          position: relative;
          display: inline-flex;
          flex: 1;
          align-items: center;
          margin-right: 10px;
          font-size: 18px;
          padding: 10px 15px;
          color: white;
          transition: background-color 0.25s;
          &.now {
            background-color: var(--buy-color)
          }
          &.offer {
            background-color: var(--offer-color);
          }
          .title {
            width: fit-content;
            width: 80px;
            padding-right: 15px;
            border-right: 1px solid white;
          }
          .price {
            padding-left: 15px;
            &.offer {
              flex: 1;
            }
            input {
              width: 100%;
              font-size: 18px;
              font-weight: bold;
              color: white;
              padding: 0;
              background-color: unset;
              border: none;
              outline: none;
              &::placeholder {
                color: white;
              }
            }
          }
          .sale {
            opacity: 0.3;
            margin-left: 4px;
            font-weight: 500;
            text-decoration: line-through;
          }
        }
        .status-toggle {
          display: flex;
          align-items: center;
          padding: 0px 10px;
          border-color: var(--buy-color);
          &.turn {
            border-color: var(--offer-color);
          }
          .icon {
            font-size: 30px;
            color: var(--buy-color);
            transition: all 0.25s;
            transform: rotateY(180deg);
            &.turn {
              color: var(--offer-color);
              transform: rotateY(0deg);
            }
          }
        }
      }
    }
    .definition {
      margin-bottom: 20px;
      padding: 10px 15px;
      border-radius: 8px;
      font-size: 13px;
      background-color: var(--bg-color);
      color: var(--bg-active-color);
      dl {
        display: flex;
        align-items: center;
        dt {
          width: 90px;
        }
        dd {
          color: black;
        }
      }
      .colors {
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        span {
          width: 13px;
          height: 13px;
          border-radius: 50%;
          margin-right: 4px;
          box-shadow: rgba(0, 0, 0, 0.24) -1px 1px 2px inset;
        }
      }
    }
    .offer-data {
      margin-bottom: 20px;
    }
  }
}

/* sp */
@media only screen and (max-width: $app-sp-width) {
  .product-detail {
    .product {
      flex-wrap: wrap;
      flex-direction: column;
      padding: 0;
      width: 100%;
      .img-area {
        padding: 0px;
        width: 100%;
      }
      .info-area {
        padding: 30px 0px;
        border-left: none;
        border-top: 1px solid var(--bg-active-color);;
      }
    }
  }
}