@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;700&display=swap');

$header-height: 48px;
$app-max-width: 1280px;
$app-min-width: 280px;
$app-sp-width: 767px;
$main-margin: 16px;
$search-nav-width: 188px;
$search-nav-sp-width: 20px;
$nav-width: 180px;
$section-width: $app-max-width - $search-nav-width;

html {
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
header {
  z-index: 9000;
  background-color: rgba(244, 244, 244, 0.65);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  position: fixed;
  height: $header-height;
  width: 100%;
  top: 0;
  left: 0;
  .header-main {
    max-width: $app-max-width;
    min-width: $app-min-width;
    height: $header-height;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    cursor: pointer;
    float: left;
    height: 30px;
    margin: 9px 10px;
    filter: grayscale(1) brightness(0);
    img {
      height: 30px;
      margin-top: -1px;
    }
    .labo {
      transform: rotate(316deg);
      margin-left: -12px;
      margin-top: -12px;
      margin-bottom: 12px;
      font-size: 16px;
    }
  }
  .side {
    float: right;
    height: $header-height;
    margin-right: 8px;
  }
}
body {
  background-color: var(--bg-color);
  margin: 0px;
  --bg-color: rgb(244, 244, 244);
  --contents-color: rgb(255, 255, 255);
  --main-color: rgb(25, 98, 245);
  --sub-color: rgb(65, 127, 251);
  --success-color: rgb(154, 205, 50);
  --warring-color: rgb(255, 165, 0);
  --main-shadow-color: rgb(221, 221, 221);
  --menu-active-color: rgba(26, 99, 245, 0.08);
  --menu-active-dark-color: rgba(26, 99, 245, 0.3);
  --sns-twitter-color: rgb(29, 161, 242);
  --sns-facebook-color: rgb(66, 103, 178);
  --sns-instagram-color: rgb(255, 48, 108);
  --sns-youtube-color: rgb(229, 9, 20);
  --sns-tiktok-color: rgb(0, 0, 0);
}
main {
  position: relative;
  max-width: $app-max-width;
  min-width: $app-min-width;
  min-height: calc(100vh - 48px - 32px);
  border-radius: 8px;
  margin-top: $main-margin + $header-height;
  margin-bottom: $main-margin;
  margin-left: auto;
  margin-right: auto;
}
section {
  &.with-nav {
    margin-left: $search-nav-width + $main-margin;
    max-width: $section-width - $main-margin;
    &.sp {
      margin-left: $search-nav-sp-width + $main-margin;
    }
  }
}
footer {
  display: block;
  height: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -16px;
  max-width: $app-max-width;
  font-size: 10px;
  opacity: 0.15;
  div {
    float: right;
    margin-right: 6px;
  }
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  &.invert {
    filter: invert(1);
  }
}
a {
  text-decoration: none;
}
button {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 6px 18px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  color: black;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 0.3s ease-in;
  }
  &.disable {
    opacity: 0.5;
    pointer-events: none;
  }
}
hr {
  width: -webkit-fill-available;
  margin-top: 16px;
  margin-bottom: 16px;
}
.contents {
  background-color: var(--contents-color);
  border-radius: 8px;
  padding: 8px;
}
.fullsize {
  background-color: var(--contents-color);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: calc(100vh - 96px);
}

/* sp */
@media only screen and (max-width: $app-sp-width){
  section {
    &.nav-on {
      margin-left: $nav-width + $main-margin;
      max-width: unset;
    }
  }
}

/* animation */
@keyframes upAndDown {
  0% {
    transform: translate(0, 0);
  }
  50% {
      transform: translate(1px, -1px);
  }
  100% {
      transform: translate(-3px, 3px);
  }
}