@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;700;900&display=swap');

html {
  font-family: 'Noto Sans JP', sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
}
header {
  z-index: 9000;
  background-color: white;
  position: fixed;
  height: var(--header-height);
  width: 100%;
  top: 0;
  left: 0;
  .header-main {
    max-width: var(--app-max-width);
    min-width: var(--app-min-width);
    height: var(--header-height);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    .logo {
      cursor: pointer;
      height: 30px;
      margin: 10px;
      filter: grayscale(1) brightness(0);
      img {
        height: 30px;
        margin-top: -1px;
      }
      .labo {
        transform: rotate(316deg);
        margin-left: -12px;
        margin-top: -12px;
        margin-bottom: 12px;
        font-size: 16px;
      }
    }
    .side {
      display: flex;
      align-items: center;
      height: var(--header-height);
      margin-right: 10px;
      margin-left: auto;
    }
  }
}
nav {
  z-index: 8999;
  background-color: white;
  position: fixed;
  height: var(--nav-height);
  width: 100%;
  left: 0;
  top: calc(var(--header-height) - 1px);
  box-shadow: 0px -2px 0px -1px inset var(--border-color);
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    max-width: var(--app-max-width);
    min-width: var(--app-min-width);
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    background-color: white;
    margin-top: -1px;
    box-shadow: 0px -2px 0px -1px inset var(--border-color);
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 8px;
      width: 100px;
      font-size: 14px;
      transition: box-shadow 0.25s, opacity 0.25s;
      &.active {
        font-weight: bold;
        box-shadow: 0px -3px 0px -1px inset black;
      }
      &:hover {
        cursor: pointer;
        &:not(.active) {
          opacity: 0.6;
          box-shadow: 0px -3px 0px -1px inset var(--border-color);
        }
      }
    }
  }
}
body {
  margin: 0px;
  overflow: auto !important;
  padding-right: 0px !important;
  // color
  --scroll-bg-color: rgba(0, 0, 0, 0);
  --bg-color: rgb(244, 244, 244);
  --bg-active-color: rgba(34, 34, 34, 0.5);
  --bg-active-dark-color: rgba(34, 34, 34, 0.85);
  --load-color: rgb(255, 255, 255);
  --load-off-color: rgba(255, 255, 255, 0.2);
  --border-color: rgb(225, 227, 228);
  --backdrop-color: rgba(0, 0, 0, 0.45);
  --contents-color: rgb(255, 255, 255);
  --shadow-color: rgb(221, 221, 221);
  --main-color: rgb(25, 98, 245);
  --sub-color: rgb(24, 144, 255);
  --opp-main-color: rgb(52, 168, 83);
  --opp-sub-color: rgb(83, 187, 111);
  --success-color: rgb(154, 205, 50);
  --warring-color: rgb(255, 165, 0);
  --like-color: rgb(255, 215, 0);
  --like-bg-color: rgba(255, 215, 0, 0.1);
  --like-social-color: rgb(235, 40, 105);
  --like-social-bg-color: rgba(235, 40, 105, 0.1);
  --buy-color: rgb(239, 98, 83);
  --buy-bg-color: rgba(239, 98, 83, 0.1);
  --offer-color: rgb(48, 178, 127);
  --offer-bg-color: rgb(48, 178, 127, 0.1);
  --menu-active-color: rgb(26, 99, 245);
  --menu-active-bg-color: rgba(26, 99, 245, 0.08);
  --ranked-s-color: rgba(0, 0, 0, 0.8);
  --ranked-a-color: rgba(60, 60, 60, 0.8);
  --ranked-b-color: rgba(100, 100, 100, 0.8);
  --ranked-c-color: rgba(174, 155, 129, 0.8);
  --ranked-d-color: rgba(149, 130, 110, 0.8);
  --sns-line-color: rgb(6, 199, 85);
  --sns-google-color: rgb(66, 133 , 244);
  // size
  --header-height: 48px;
  --nav-height: 27px;
  --footer-height: 16px;
  --app-max-width: 1280px;
  --app-min-width: 280px;
  --main-margin: 8px;
  --nav-width: 180px;
  --nav-margin: 38px;
  --sp-nav-margin: 16px;
  --search-nav-width: 188px;
  --sp-search-nav-width: 20px;
  --loading-height: 56px;
  --full-height-margin: 99px;
  --section-width: calc(var(--app-max-width) - var(--sp-search-nav-width));
  --top-height: calc(var(--header-height) + var(--nav-height));
  // time
  --loading-purse: 750ms;
}
footer {
  display: block;
  background-color: black;
  color: white;
  height: var(--footer-height);
  width: 100%;
  .footer-main {
    font-size: 10px;
    max-width: var(--app-max-width);
    min-width: var(--app-min-width);
    height: var(--footer-height);
    margin-left: auto;
    margin-right: auto;
    .side {
      flex: 1;
      opacity: 0.5;
      text-align: right;
      margin-right: 10px;
    }
  }
}
main {
  position: relative;
  max-width: var(--app-max-width);
  min-width: var(--app-min-width);
  min-height: calc((var(--vh, 1vh) * 100) - var(--top-height) - var(--main-margin));
  border-radius: 4px;
  margin-top: calc(var(--top-height) + var(--main-margin));
  margin-left: auto;
  margin-right: auto;
}
section {
  &.with-nav {
    margin-left: calc(var(--search-nav-width) + var(--main-margin));
    max-width: calc(var(--section-width) - var(--main-margin));
    &.sp {
      margin-left: calc(var(--sp-search-nav-width) + var(--main-margin));
    }
  }
}
input, textarea, select {
  font-family: inherit;
}
ul, li {
  list-style: none;
  list-style-type: none;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  &.invert {
    filter: invert(1);
  }
}
a {
  text-decoration: none;
  &:active {
    color: var(--main-color);
  }
}
button {
  cursor: pointer;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 6px 18px;
  border-radius: 4px;
  border: 1px solid black;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  &:hover {
    background-color: var(--bg-color);
    color: var(--bg-active-color);
    border-color: var(--bg-active-color);
  }
  &.disable {
    opacity: 0.5;
    pointer-events: none;
  }
  &.more-btn {
    display: flex;
    font-size: 10px;
    border: none;
    color: gray;
    .icon {
      font-size: 15px;
      margin: 0;
    }
  }
}
hr {
  width: -webkit-fill-available;
  margin-top: 16px;
  margin-bottom: 16px;
}
.scroll {
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: var(--scroll-bg-color);
  }
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: var(--scroll-bg-color);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--border-color);
  }
}
.contents {
  background-color: var(--contents-color);
  border-radius: 4px;
  padding: 8px;
}
.fullsize {
  background-color: var(--contents-color);
  border-radius: 4px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: calc(var(--footer-height) * -1);
  height: calc((var(--vh, 1vh) * 100) - var(--full-height-margin));
}
.table {
  th {
    background-color: black;
    color: white !important;
    padding: 8px;
  }
}
.login-form, .auth-recover-form, .recover-form, .signup-form {
  background-color: white;
  border: 1px solid var(--bg-active-color);
  border-radius: 4px;
  padding: 50px 40px;
}

/* sp */
@media only screen and (max-width: 767px) {
  section {
    &.nav-on {
      margin-left: calc(var(--nav-width) + var(--main-margin));
      max-width: unset;
    }
  }
  .login-form, .auth-recover-form, .recover-form, .signup-form {
    border: none;
  }
}

/* animation */
@keyframes upAndDown {
  0% {
    transform: translate(0, 0);
  }
  50% {
      transform: translate(1px, -1px);
  }
  100% {
      transform: translate(-3px, 3px);
  }
}
@keyframes pulse {	
  50% {
    background: var(--load-color);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(1px);
  }
  40% {
    transform: translateX(-1px);
  }
  60% {
    transform: translateX(1px);
  }
  80% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes sizeUpAndDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}