.admin {
  margin-top: calc(var(--footer-height) * -1);
  .contents {
    margin: 0px 8px 0px 16px;
    transition: width 0.25s;
    height: calc((var(--vh, 1vh) * 100) - var(--full-height-margin) - var(--footer-height));
    box-shadow: 0 0px 4px 1px var(--shadow-color);
    .title {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 18px;
      margin-top: 8px;
      margin-bottom: 16px;
      svg {
        font-size: 26px;
        margin: 0 4px;
      }
    }
    .search-area {
      display: flex;
      margin-top: 8px;
      margin-bottom: 16px;
      .filter {
        width: 30%;
        margin-right: 8px;
      }
    }
  }
}