$header-height: 48px;
$app-max-width: 1280px;
$app-min-width: 280px;
$app-sp-width: 767px;
$main-margin: 16px;
$search-nav-width: 188px;
$search-nav-sp-width: 20px;
$nav-width: 180px;
$section-width: $app-max-width - $search-nav-width;

.search-nav {
  position: fixed;
  .side-menu {
    position: sticky;
    top: 64px;
    background-color: var(--contents-color);
    border-radius: 8px;
    padding: 8px;
    width: $search-nav-width;
    height: calc(100vh - 96px);
    transition: width 0.25s;
    box-shadow: 0 0px 4px 1px var(--main-shadow-color);
    .sns-area {
      display: block;
      text-align: center;
      margin: 16px 0;
      .Mui-selected {
        color: white;
        &.twitter {
          background-color: var(--sns-twitter-color);
        }
        &.instagram {
          background-color: var(--sns-instagram-color);
        }
        &.tiktok {
          background-color: var(--sns-tiktok-color);
        }
        &.youtube {
          background-color: var(--sns-youtube-color);
        }
      }
    }
    .search-area {
      margin-top: 12px;
      .filter {
        margin-bottom: 14px;
        & input {
          padding-left: 30px;
        }
      }
      .icon {
        cursor: pointer;
        position: absolute;
        margin-top: 9px;
        left: 16px;
      }
    }
    &.sp {
      width: $search-nav-sp-width;
    }
    .category {
      margin-top: 6px;
      margin-bottom: 6px;
      font-size: 14px;
      .title {
        margin-bottom: 6px;
        border-bottom: 1px solid black;
        margin: 5px;
        padding-bottom: 6px;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
      }
      li {
        padding: 8px 10px;
        transition: all 0.25s;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
        & svg {
          font-size: 14px;
        }
        &.active {
          font-weight: bold;
          background-color: var(--menu-active-color);
          border-radius: 8px;
          &::after {
            content: "";
            background: var(--main-color);
            border-radius: 8px;
            height: 20px;
            left: -8px;
            position: absolute;
            width: 4px;
          }
        }
        svg {
          margin-right: 6px;
        }
      }
    }
  }
}

/* sp */
@media only screen and (max-width: $app-sp-width) {
  .search-nav {
    .category {
      .title {
        padding-bottom: 0;
        svg{
          margin-left: -7px
        }
      }
      li {
        svg {
          margin-right: 0 !important;
          margin-left: -7px
        }
      }
    }
  }
}