$header-height: 48px;
$footer-height: 16px;
$app-max-width: 1280px;
$app-min-width: 280px;
$app-sp-width: 767px;
$main-margin: 8px;
$search-nav-width: 188px;
$search-nav-sp-width: 20px;
$nav-width: 180px;
$section-width: $app-max-width - $search-nav-sp-width;

.side-nav {
  position: fixed;
  .side-menu {
    position: sticky;
    top: 64px;
    background-color: var(--contents-color);
    border-radius: 4px;
    padding: 8px;
    width: $search-nav-width;
    height: calc((var(--vh, 1vh) * 100) - 88px - 16px);
    box-shadow: 0 0px 4px 1px var(--shadow-color);
    &.sp {
      width: $search-nav-sp-width;
      li {
        font-size: 10px;
        svg {
          margin-left: -8px
        }
      }
    }
    .search-area {
      margin-top: 12px;
      .filter {
        margin-bottom: 14px;
        & input {
          padding-left: 30px;
        }
      }
      .icon {
        cursor: pointer;
        position: absolute;
        margin-top: 9px;
        left: 16px;
      }
    }
    .category {
      margin-top: 8px;
      margin-bottom: 8px;
      .title {
        font-size: 13px;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
      }
      li {
        display: flex;
        align-items: center;
        padding: 8px 10px;
        transition: all 0.25s;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
          color: var(--menu-active-color);
        }
        &.active {
          font-weight: bold;
          color: var(--menu-active-color);
          background-color: var(--menu-active-bg-color);
          border-radius: 4px;
          &::after {
            content: "";
            background: var(--main-color);
            border-radius: 4px;
            height: 20px;
            left: -8px;
            position: absolute;
            width: 4px;
          }
        }
        &:first-child {
          margin-top: 8px;
        }
        &:last-child {
          margin-bottom: 8px;
        }
        svg {
          font-size: 16px;
          margin-right: 6px;
        }
      }
    }
    .fold-toggle {
      display: flex;
      position: absolute;
      right: 9px;
      bottom: 10px;
      border-width: 1.5px;
      padding: 0;
      svg {
        font-size: 16px;
      }
      &:hover {
        color: var(--menu-active-color);
        border-color: var(--menu-active-color);
        background-color: var(--menu-active-bg-color);
      }
    }
  }
}